{% extends 'base_user.html' %}

{% block content_user %}
    <p>
        <span>{{ view.week_start|date:"D d F Y" }}</span>
        <span>{{ view.week_end|date:"D d F Y" }}</span>
    </p>

    {% if view.weekly_basket_form %}
        <section>
            <h2>Weekly Basket</h2>
            <form action="/your-name/" method="post">
                {% csrf_token %}
                {{ view.weekly_basket_form }}
                <input type="submit" value="Submit" />
            </form>
        </section>
    {% endif %}

    <section>
        <h2>Ordererd</h2>
    {% if view.orders %}
            <ul>
                {% for portion in view.orders.contents.all %}
                <li>{{ portion.food.name }} - {{ portion.quantity }} - {{ portion.price }}</li>
                {% endfor %}
            </ul>
    {% else %}
        <span>No orders for this week.</span>
    {% endif %}
    <a href="{{ view.controls.prev_week }}">Previous week</a>
    <a href="{{ view.controls.next_week }}">Next week</a>

    {% if view.order_basket_form %}
        <form action="/your-name/" method="post">
            {% csrf_token %}
            {{ view.order_basket_form }}
            <input type="submit" value="Submit" />
        </form>
    {% endif %}
    </section>

    {% if view.portions_list %}
        <section>
            <h2>Order stuff</h2>
            <ul>
                {% for portion in view.portions_list %}
                <li>{{ portion.food.name }} - {{ portion.quantity }} - {{ portion.price }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

{% endblock %}
